<p id="notice"><%= notice %></p>

<p>
  <b>Newsletter:</b>
  <%= @subscription.newsletter_id %>
</p>

<p>
  <b>User:</b>
  <%= @subscription.user_id %>
</p>

<p>
  <b>Active:</b>
  <%= @subscription.active %>
</p>


<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
